.selectWidget {
    color: #fff;
    font-size: 14px;
    padding: 20px;
    background-color: #373737;
    max-width: 475px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.selectWidget__header {
    display: flex;
    justify-content: space-between
}


.selectWidget__close {
    cursor: pointer;
    color: #fff;
    background-color: unset;
}

.selectWidget__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.selectWidget__filterItem {
    display: flex;
    align-items: center;
    gap: 7px;
}

.selectWidget__filterInput {
    width: 150px;
    height: 20px;
    padding: 0 0.5em;
}

.selectWidget__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selectWidget__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectWidget__itemsList {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background-color: #141414;
    max-height: 250px;
    overflow-y: auto;
}

.selectWidget__selectedItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}